
{% load static %}

<h2>🏠 Home Page</h2>
  <p>Welcome to the homepage!</p>

  <div class="row">
    <div class="col-md-4">
      
<img src="{% static 'image/mm5.jpg' %}" class="img-thumbnail" data-bs-toggle="modal" data-bs-target="#galleryModal1" style="cursor:pointer;">
        <div class=" texconter"><h1>শিরোনাম: ফ্রিল্যান্সিং: স্বাধীন পেশা</h1>
      <p>ফ্রিল্যান্সিং মানেই স্বাধীনভাবে কাজ করা। সময়ের সাথে সাথে এই পেশায় আগ্রহ বাড়ছে তরুণদের। ফাইভার, আপওয়ার্ক, পিপল পার আওয়ারের মতো মার্কেটপ্লেসে দক্ষতা অনুযায়ী কাজ করে আয় করা যায়। তবে সফল হতে হলে ধৈর্য, স্কিল এবং কমিউনিকেশন স্কিল দরকার।</p></div> 
    </div>
    <div class="col-md-4">
      


  