{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>All Posts</title>
  {% include 'mylink/link.html' %}
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

{% include 'mylink/naba.html' %}

  <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4">
        <img src="{% static 'image/a3.jpeg'%}" alt="Web Development" class="img-fluid rounded shadow">
      </div>
      <div class="col-md-6">
        <h1 class="mb-4">🖥️ ওয়েব ডেভেলপমেন্ট শেখার পথ</h1>
        <p class="lead">ওয়েব ডেভেলপমেন্ট শিখতে শুরু করুন HTML, CSS, JavaScript দিয়ে।</p>
        <p>এরপর React বা Vue.js, আর ব্যাকএন্ডে Django বা Node.js শেখুন।</p>
        <p>ডাটাবেজে MySQL/MongoDB, এবং API তৈরি করা শিখুন।</p>
        <a href="{% url 'post_list' %}" class="btn btn-secondary mt-3">🔙 Back to Home</a>
      </div>
    </div>
  </div>

{% include 'mylink/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

