{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <title>All Posts</title>
  {% include 'mylink/link.html' %}
<link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

{% include 'mylink/naba.html' %}

 <div class="container py-5">
    <div class="row align-items-center">
      <div class="col-md-6 mb-4">
      <img src="{% static 'image/a5.jpeg'%}" alt="Photography at Home" class="img-fluid rounded shadow">
      </div>
      <div class="col-md-6">
        <h1 class="mb-4">📸 ঘরে বসে ফটোগ্রাফি শেখা</h1>
        <p>ইউটিউব ও Udemy-তে টিউটোরিয়াল দেখে শুরু করুন।</p>
        <p>মোবাইল ক্যামেরা দিয়েই প্র্যাকটিস করতে পারেন।</p>
        <p>ক্যামেরা, কম্পোজিশন ও আলো নিয়ে জানতে হবে।</p>
        <a href="{% url 'post_list' %}" class="btn btn-secondary mt-3">🔙 Back to Home</a>
      </div>
    </div>
  </div>


  
{% include 'mylink/footer.html' %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>

